{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 pt-5">
  <div class="card shadow">
    <div class="card-body">
      <!-- action indica la ruta hacia la que serán dirigidos los datos -->
      <form action="/cliente/registro" method="POST">
        <div class="row mb-3">
          <div class="col">
            <label>Nombre completo</label>
            <input type="text" class="form-control mb-3" name="nombre" required>
          </div>

          <div class="col">
            <label>Email</label>
            <input type="text" class="form-control mb-3" name="email" required>
          </div>

          <div class="col">
            <label>Dirección</label>
            <input type="text" class="form-control mb-3" name="direccion" required>
          </div>

          <div class="col">
            <label>Teléfono</label>
            <input type="text" class="form-control mb-3" name="telefono" required>
          </div>

          <div class="col">
            <button class="btn btn-primary mb-3 mt-4" type="submit">Guardar</button>
          </div>
        </div>
      </form>

      <table class="table table-bordered">
        <thread>
          <th scope="col">Id</th>
          <th scope="col">Nombre cliente</th>
          <th scope="col">Email</th>
          <th scope="col">Dirección</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Acciones</th>
        </thread>

        <tbody>
          {% for cliente in clientes %}
          <tr>
            <td>{{ cliente.id_cliente }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>
              <button class="btn btn-primary btn-sm" id="btn-edit{{cliente.id}}">Editar</button>
              <a href="{{ url_for('cliente.eliminar', id = cliente.id_cliente) }}"
                class="btn btn-danger btn-sm">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}