{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="card shadow">
        <div class="card-body">
            <h2 class="text-center mb-5 mt-2">Facturas</h2>

            <table class="table table-bordered">
                <thread>
                    <th scope="col">ID Cliente</th>
                    <th scope="col">Número pedido</th>
                    <th scope="col">Fecha</th>
                </thread>

                <tbody>
                    {% for factura in facturas %}
                        <tr>
                            <td>{{ factura.id_cliente }}</td>
                            <td>{{ factura.numero_pedido }}</td>
                            <td>{{ factura.fecha }}</td>                
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}