{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 pt-5">
  <div class="card shadow">
    <div class="card-body">
      <!-- action indica la ruta hacia la que serán dirigidos los datos -->
      <form action="/trabajador/registro" method="POST">
        <div class="row mb-3">
          <div class="col">
            <label>Nombre completo</label>
            <input type="text" class="form-control mb-3" name="nombre" required>
          </div>

          <div class="col">
            <label>Email</label>
            <input type="text" class="form-control mb-3" name="email" required>
          </div>

          <div class="col">
            <label>Dirección</label>
            <input type="text" class="form-control mb-3" name="direccion" required>
          </div>

          <div class="col">
            <label>Teléfono</label>
            <input type="text" class="form-control mb-3" name="telefono" required>
          </div>

          <div class="col">
            <label>Disponibilidad</label>
            <input type="text" class="form-control mb-3" name="disponible" required>
          </div>

          <div class="col">
            <button class="btn btn-primary mb-3 mt-4" type="submit">Guardar</button>
          </div>
        </div>
      </form>

      <table class="table table-bordered">
        <thread>
          <th scope="col">Id</th>
          <th scope="col">Nombre trabajador</th>
          <th scope="col">Email</th>
          <th scope="col">Dirección</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Disponible</th>
          <th scope="col">Acciones</th>
        </thread>

        <tbody>
          {% for trabajador in trabajadores %}
          <tr>
            <td>{{ trabajador.id_trabajador }}
            <td>{{ trabajador.nombre }}</td>
            <td>{{ trabajador.email }}</td>
            <td>{{ trabajador.direccion }}</td>
            <td>{{ trabajador.numero_telefono }}</td>
            <td>{{ trabajador.disponibilidad }}</td>
            <td>
              <button class="btn btn-primary btn-sm" id="btn-edit{{ trabajador.id_trabajador }}" data-bs-toggle="modal"
                data-bs-target="#modal{{ trabajador.id_trabajador }}">Editar</button>
              <a href="{{ url_for('trabajador.eliminar', id = trabajador.id_trabajador) }}"
                class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro?');">Eliminar</a>

              <a href="{{ url_for('trabajador.crear_informe_trabajador', id_trabajador = trabajador.id_trabajador) }}"
                class="btn btn-info btn-sm">Informe</a>
            </td>
          </tr>

          <!-- Ventana modal que se abrirá al acceder a "editar" en trabajador -->
          <div class="modal fade" id="modal{{ trabajador.id_trabajador }}" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">{{ trabajador.nombre }}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="/trabajador/actualizar/{{ trabajador.id_trabajador }}" method="POST">
                    <label>Nombre completo</label>
                    <input type="text" class="form-control mb-3" name="nombre" placeholder="{{ trabajador.nombre }}">
                    <label>Email</label>
                    <input type="text" class="form-control mb-3" name="email" placeholder="{{ trabajador.email }}">
                    <label>Dirección</label>
                    <input type="text" class="form-control mb-3" name="direccion"
                      placeholder="{{ trabajador.direccion }}">
                    <label>Teléfono</label>
                    <input type="text" class="form-control mb-3" name="telefono"
                      placeholder="{{ trabajador.numero_telefono }}">
                    <label>Disponible</label>
                    <input type="text" class="form-control mb-3" name="disponibilidad" placeholder="Sí/No">

                    <div class=" modal-footer">
                      <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}