{% extends 'base.html' %}

{% block content %}

<div class="modal fade" id="modificarPedidoModalTrabajador" tabindex="-1"
    aria-labelledby="modificarPedidoModalTrabajadorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modificarPedidoModalTrabajadorLabel">Finalizar Pedido</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('pedido.modificar_pedido_trabajador', id_pedido=id_pedido) }}" method="POST">
                    <!-- Campo para estado -->
                    <div class="mb-3">
                        <label for="estado" class="form-label">Estado</label>
                        <input type="text" class="form-control" id="estado" name="estado" required>
                    </div>
                    <!-- Botón confirmar estado -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Confirmar Pedido</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}