{% block content %}
<div class="container mt-4">
  <h2 class="text-center mb-5 mt-2">Mis Pedidos</h2>
  <table class="table table-bordered">
    <thead>
      <th scope="col">Nº Pedido</th>
      <th scope="col">Dirección Entrega</th>
      <th scope="col">Nº Platos</th>
      <th scope="col">Precio</th>
      <th scope="col">Estado</th>
      <th scope="col">Tiempo Prep</th>
      <th scope="col">Observaciones</th>
      <th scope="col">Acciones</th>
    </thead>

    <tbody>
      {% for pedido in pedido_incluye_reparte %}
      <tr>
        <td>{{ pedido.id_pedido}}</td>
        <td>{{ pedido.direccion_entrega }}</td>
        <td>{{ pedido.numero_platos}}</td>
        <td>{{ pedido.precio }} €</td>
        <td>{{ pedido.estado }}</td>
        <td>{{ pedido.tiempo_preparacion }} min </td>
        <td>{{ pedido.observaciones }}</td>
        <td>
          <button class="btn btn-primary btn-sm" id="btn-edit{{ pedido.id_pedido }}" data-bs-toggle="modal"
            data-bs-target="#modal{{ pedido.id_pedido }}">Modificar</button>
        </td>
      </tr>

      <div class="modal fade" id="modal{{ pedido.id_pedido }}" tabindex="-1"
        aria-labelledby="modificarPedidoModalTrabajadorLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modificarPedidoModalTrabajadorLabel">Finalizar Pedido</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{{ url_for('pedido.modificar_pedido_trabajador', id_pedido=pedido.id_pedido) }}"
                method="POST">
                <!-- Campo para dirección -->
                <div class="mb-3">
                  <label for="estado" class="form-label">Estado</label>
                  <input type="text" class="form-control" id="estado" name="estado" required>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-success">Confirmar Pedido</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}